* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='3.3'%3E%3Cpath transform='translate(-88.9 5.199999999999999) rotate(-0.8000000000000007 1409 581) scale(0.95576)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='1.1' transform='translate(-107.5 67) rotate(6.6 800 450) scale(1.00674)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(17.1 -79.5) rotate(52.5 401 736) scale(1.00674)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='1'%3E%3Cpath transform='translate(402 0.1999999999999993) rotate(-0.04999999999999982 150 345) scale(0.9859199999999999)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='2.2' transform='translate(-119.5 -181) rotate(46.8 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-250.8 69.2) rotate(7.800000000000001 1400 132) scale(0.865)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

#hero {
    position: relative;
    min-height: 100vh;
    background-color: black;
    background-image: url(../img/3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#hero .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9));
    color: white;
}

#about {
    position: relative;
    padding: 5rem 2rem;
}

#about::after {
    content: '';
    display: block;
    min-height: 300px;
    background-image: url(../img/1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#about .content {
    margin: 1rem 0;
}

#about .content p {
    margin-top: 1rem;
}

#songs {
    padding: 5rem 2rem;
    text-align: center;
}

#songs .content .row {
    margin: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#songs .content .row .card {
    width: 120px;
    margin: 0.25rem;
    padding: 0.5rem;
    border: 2px solid black;
    border-radius: 1.25rem;
    background-color: white;
    box-shadow: 10px 10px 17px -12px rgba(0,0,0,0.75);
    transition: background-color 0.4s, box-shadow 0.4s;
}

#songs .content .row .card:hover {
    background-color: #F1F1F1;
    box-shadow: 10px 10px 17px -15px rgba(0,0,0,0.75);
}

#songs .content .row .card a {
    color: black;
    text-decoration: none;
}

#footer {
    padding: 4rem 2rem 3rem 2rem;
    text-align: center;
    color: white;
    background-color: #121212;
}

@media screen and (min-width: 768px) {
    #about::after {
        position: absolute;
        top: 0;
        right: 0;
        width: 35%;
        height: 100%;
    }

    #about .content {
        width: 60%;
    }
}